.fa-check {
  color: #56B947;
}

.fa-times {
  color: #EE302D;
}

.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;

  &.addBtn,
  &.saveBtn{
    color: #56B947;
  }

  &.deleteBtn {
    color: #EE302D;
  }
}

table {
  background-color: white;
  min-width: 50vw;
  margin-bottom: 1rem;

  tr {
    height: 3rem;

    &:nth-of-type(odd) {
      background-color: #ddd;
    }

    &:hover{
      background-color: darken(beige, 5);
    }

    th {
      background-color: saddlebrown;
      color: white;
    }

    td {
      &.number {
        text-align: right;
      }

      &.string {
        text-align: left;
      }

      &.date {
        text-align: center;
      }
    }
  }
}

form.deleteForm {
  display: inline-block;
  height: 100%;
}

form:not(.deleteForm) {
  margin-bottom: 1rem;

  label {
    display: inline-block;
    width: 10vw;
  }

  div {
    margin-bottom: 1rem;
  }
}