.menucontent {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    color: darkgray;

    .tab {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 2rem;
      cursor: pointer;

      img{
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
        margin-bottom: .5rem;
      }

      span {
        font-size: 2rem;
      }

      &.active {
        border-bottom: solid 2px;
        color: saddlebrown;
      }
    }
  }

  .tabContainers {
    width: 100%;

    .tabContainer {
      width: 100%;

      h3 {
        color: saddlebrown;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
}