{% extends 'base.html.twig' %}

{% block title %}Edit Information{% endblock %}

{% block body %}
    <h1>Edit Information</h1>

    {{ include('admin/information/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('information_index') }}">back to list</a>

    {{ include('admin/information/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.tiny.cloud/1/1inu3xk7lj1qm60w4po42dvrw2kfrxuyuqp4ni1pcxiimlzz/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
    <script src="{{ asset('script/informationForm.js') }}"></script>
{% endblock %}