<form method="post" class="deleteForm" action="{{ path('app_back_ingredient_delete', {'id': ingredient.id}) }}" onsubmit="return confirm('Supprimer l\'ingrédient {{ ingredient.name }} (#{{ ingredient.id }}) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
    <button class="btn deleteBtn"><span class="fal fa-trash-alt"></span> Supprimer</button>
</form>
