{% extends 'back/base_admin.html.twig' %}

{% block title %}Ajouter un ingrédient - Administranzio{% endblock %}

{% block container %}
    <h1>Ajouter un ingrédient</h1>

    {{ include('back/ingredient/_form.html.twig') }}

    <a href="{{ path('app_back_ingredient_index') }}" class="btn"><span class="fal fa-arrow-left"></span> Retour à la liste</a>
{% endblock %}
