<form method="post" class="deleteForm" action="{{ path('app_back_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Supprimer l\'utilisateur {{ user.username }} (#{{ user.id }}) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn deleteBtn"><span class="fal fa-trash-alt"></span> Supprimer</button>
</form>
