{% extends 'base.html.twig' %}

{% block title %}New PizzaOfMonth{% endblock %}

{% block body %}
    <h1>Create new PizzaOfMonth</h1>

    {{ include('admin/pizza_of_month/_form.html.twig') }}

    <a href="{{ path('pizza_of_month_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
<script>
$(function(){
    $("select").select2();
});
</script>
{% endblock %}
