.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;


  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 4rem;
  background-color: white;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    flex: 1;

    li {
      list-style: none;

      a {
        color: saddlebrown;
      }
    }
  }
}