{% extends 'base.html.twig' %}

{% block title %}Anzio pizza - Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('common_topbar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('common_topbar') }}
{% endblock %}

{% block body %}
    {% set topbar_links = [
        {'label':'Accueil', 'link': path('app_front_home_home'), 'icon':'fal fa-home'},
        {'label':'Carte', 'link': path('app_front_menu_menu'), 'icon':'fal fa-file-alt'},
        {'label':'Informations', 'link': '#', 'icon':'fal fa-check'}
    ] %}
    {% include 'common/topbar.html.twig' with {'topbar_links': topbar_links} %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}