{% extends 'front/base_front.html.twig' %}

{% block title %}Accueil - Anzio pizza{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('front_home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front_home') }}
{% endblock %}

{% block container %}
    <h1>Benvenuto !</h1>
    <div class="homecontent">
        <div class="leftcol">
            <img src="https://via.placeholder.com/1400x400.png?text=Photo+de+pizza+(1400x400)">
            <p>Anzio Pizza, la pizzeria au cœur du quartier du Rondeau à Aix-les-Bains, vous propose un large choix de pizzas et de plats italiens. Venez découvrir, sur notre carte, tous nos produits qui vous font voyager jusqu'en Italie depuis plus de 10 ans !</p>
            <p>À emporter uniquement. Commandes par téléphone au <a href="tel:+33479635230">04.79.63.52.30</a>.</p>
            <p>Vous n'avez pas encore notre carte fidélité ? Demandez-la lors de votre prochain passage pour profiter de ses avantages !</p>
            <img src="https://via.placeholder.com/1400x400.png?text=Photo+de+l'intérieur+(1400x400)">
        </div>
        <div class="rightcol"><img src="https://via.placeholder.com/900x1400.png?text=Photo+de+la+place+(900x1400)"></div>
    </div>
{% endblock %}