{% if topbar_links is defined %}
    <div class="topbar">
        <ul>
            <li class="topbaricon">
                <img src="{{ asset('build/images/logo/logo.png') }}" alt="">
            </li>
            {% for topbar_link in topbar_links %}
                <li><a href="{{ topbar_link.link }}"><span class="{{ topbar_link.icon }}"></span>{{ topbar_link.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}