<nav id="mainMenu">
    <span class="menuItem"><span class="fal fa-pizza-slice"></span>&nbsp;&nbsp;&nbsp;Anzio Pizza</span>
    <span class="menuItem">Aix-les-Bains&nbsp;&nbsp;&nbsp;<a href="tel:+33479635230"><span class="fal fa-phone"></span>&nbsp;&nbsp;04.79.63.52.30</a></span>
    {# <span class="menuItem">La Motte-Servolex&nbsp;&nbsp;&nbsp;<a href="tel:+33479256408"><span class="fal fa-phone"></span>&nbsp;&nbsp;04.79.25.64.08</a></span> #}
</nav>