{% extends 'base.html.twig' %}

{% block title %}Administranzio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_common') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_common') }}
{% endblock %}

{% block body %}
    {% set topbar_links = [
        {'label':'Accueil', 'link': path('app_back_admin_home'), 'icon':'fal fa-home'},
        {'label':'Bases de pizza', 'link': path('app_back_pizzabase_index'), 'icon':'fal fa-glass'},
        {'label':'Ingrédients', 'link': path('app_back_ingredient_index'), 'icon':'fal fa-wheat'},
        {'label':'Pizzas', 'link': path('app_back_pizza_index'), 'icon':'fal fa-pizza'},
        {'label':'Déconnexion', 'link': path('app_logout'), 'icon':'fal fa-sign-out'}
        ] %}
    {% include 'common/topbar.html.twig' with {'topbar_links': topbar_links} %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}