{% extends 'base.html.twig' %}

{% block title %}Edit Pizza{% endblock %}

{% block body %}
    <h1>Edit Pizza</h1>

    {{ include('admin/pizza/_form.html.twig', { 'button_label': 'Update'|trans }) }}

    <a href="{{ path('pizza_index') }}">back to list</a>

    {{ include('admin/pizza/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
<script>
$(function(){
    $("select").select2();
});
</script>
{% endblock %}